@import '../../index.scss';

.App-header {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

  }
  
  .btn {
    position: absolute;
    top: 50%;
    left: 48,5%;
    margin-top: 50px;
    
  }

  .ui.button {
    background-color: $background-color;
    color: $text-color;
  }
  
  .particles-bg-canvas-self{
    background: $dark-blue-color;
    color: $background-color;
    z-index: -1;
  }

  .typewriter-wrapper {
    color: $background-color;
  }