@import '~semantic-ui-css/semantic.css';

.App {
  text-align: center;
}

body::-webkit-scrollbar{
  display: none;
}


.btn {
  position: absolute;
  top: 50%;
  left: 48,5%;
  margin-top: 50px;
  
}

